@import "tailwindcss";
@plugin "daisyui";

.clip-hexagon {
  clip-path: polygon(
    25% 6.7%, 75% 6.7%,
    100% 50%, 75% 93.3%,
    25% 93.3%, 0% 50%
  );
  
}
html {
  scroll-behavior: smooth;
}
.mask-image-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}